
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}


nav {
    background-color: darkblue;
    padding: 10px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


nav a {
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
    font-weight: bold;
}


h1 {
    color: darkblue;
    border-bottom: 1px solid black;
    padding-bottom: 0.3rem;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

.profile {
    float: right;
    margin: 0 0 1rem 1rem;
}


.grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 2rem;
    padding: 1rem;
}

aside {
    background-color: #eee;
    color: #333;
    text-align: center;
    padding: 1rem;
    position: relative;
}

aside h2 {
    position: absolute;
    top: 15px;
    left: 15px;
    color: white;
    text-shadow: 1px 1px 4px black;
}

aside img {
    width: 200px;
    height: auto;
    margin-top: 3rem;
}

main {
    padding: 1rem;
}


footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
    padding: 10px;
}


.box {
    margin: 1rem 0;
    padding: 1rem;
    border: 1px solid #333;
    background-color: #f3f3f3;
    color: #222;
}
